* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    font-family: "Barlow";
    font-weight: 500;
}

body {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to left, #FFEA00, #000000);
}

/* aqui esta a navbar */
.navbar {
    width: 100%;
    height: 70px;
    margin-inline: auto;
    background-color: black;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul {
    display: flex;
    gap: 32px;
    list-style: none;
}

.navbar ul li a {
    font-size: 18px;
    color: white;
    padding-block: 16px;
    margin-right: 1.5rem;
}

.navbar ul li a:hover {
    color: #FFEA00;
}

.navbar a img {
    max-width: 140px;
    max-height: 140px;
}

.navbar a:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

/* aqui começa o container */

.container {
    width: 100%;
    height: calc(150vh - 70px);
    display: flex;
    align-items: center;
    align-content: space-around;
    margin-top: 80px;
    justify-content: center;
    flex-wrap: wrap;
    font-family: "Barlow";
    color: #FFFFFF;
}

.conheca {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;
    font-family: "Barlow";
}

.p1 {
    width: 500px;
    height: 250px;
    color: #FFFFFF;
}

.p1 p {
    text-align: justify;
}

.p2 {
    width: 720px;
    height: 405px;
}

/* comeca aqui o escolha */

.escolha {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.escolha a {
    color: #FFFFFF;
}
