* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    font-family: "Barlow";
    font-weight: 500;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to left, #FFEA00, #000000);
}

/* HEADER */

header {
    width: 100%;
    height: 4.375rem;
}

nav {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    background: #000000;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 2rem;
    margin-right: 1.5rem;
}

nav ul a {
    color: white;
    font-size: 1.125rem;
}

nav ul a:hover {
    color: #FFEA00;
}

nav a img{
    max-width: 7.5rem;
    max-height: 7.5rem;
}

/* MAIN */
.container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 37.5rem;
    align-items: center;
    justify-content: space-around;
    font-family: 'Barlow';
}

.descricao {
    height: 18.75rem;
    width: 34.375rem;
    color: white;
}
#desc-p {
    font-size: 1.2rem;
    text-align: justify;
}

.video {
    height: 18.75rem;
    width: 34.375rem;
}

/* ASIDE */
aside {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 18.75rem;
    align-items: center;
    justify-content: space-around;
    font-family: 'Barlow';
}

.list-ano {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 34.375rem;
    height: 18.75rem;
    color: white;
}
.list-ano ul, .list-ano a {
    color: white;
    font-size: 1.5rem;
}
.list-ano ul li:nth-child(1) {
    list-style-image: url(image/list-1.png);
    margin-bottom: 1rem;
}
.list-ano ul li:nth-child(2) {
    list-style-image: url(image/list-2.png);
    margin-bottom: 1rem;
}
.list-ano ul li:nth-child(3) {
    list-style-image: url(image/list-3.png);
}


.as-img {
    width: 18.75rem;
    height: 18.75rem;
}

/* FOOTER */
footer {
    width: 100%;
    
    font-family: 'Barlow';
}

.footer-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    height: 9.375;
    background: #000000;
}

.logo-footer {
    max-width: 9.375rem;
    max-height: 9.375rem;
}

.history {
    color: #9e9e9e;
    position: relative;
    top: 2rem;
}
.history ul, .history a {
    color: white;
    list-style: none;
}

.contact {
    color: #9e9e9e;
    position: relative;
    top: 2rem;
}
.contact a {
    color: white;
}

.social {
    color: #9e9e9e;
    position: relative;
    top: 2rem;
}
.social ul {
    display: flex;
    list-style: none;
}
.social ul li {
    padding-right: 2rem;
}
.social a {
    color: white;
}

.copyr {
    display: flex;
    color: #9e9e9e;
    background: #000000;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    padding: 1rem;
}

@media screen and (max-width: 768px){
    #footer_content {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }

    #contact {
        position: relative;
        top: 0rem;
    }
    #social {
        position: relative;
        top: 0rem;
    }
}

@media screen and (max-width: 426px){
    #footer_content {
        grid-template-columns: repeat(1, 1fr);
        padding: 3rem 2rem;
    }
    #contact {
        margin-top: 1.5rem;
    }
    #history {
        position: relative;
        top: 0rem;
    }
}

